Source: libsimdpp
Priority: extra
Maintainer: Povilas Kanapickas <tir5c3@yahoo.co.uk>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.1
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: libsimdpp-doc
Section: doc
Architecture: all
Depends: doc-base
Description: Reference manual for libsimdpp

Package: libsimdpp-dev
Section: libdevel
Architecture: any
Description: Development files for libsimdpp
